//fonts
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Outfit';
// colors
$background-primary: #292F3A;
$background-secondary: #F8FAFC;
$primary-color: #4F77FF;
$text-primary: #2D3958;
$text-secondary: #7B88A8;
$text-white: #FFFFFF;
$yellow: #F9C45C;
$red: #FD4C5C;
$green: #00BB98
