.services {
  padding: 120px 0;

  &-heading {
    text-align: center;
    margin-bottom: 30px;
  }

  &-desc {
    text-align: center;
    margin-bottom: 100px;
  }

  &-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
  }

  &-cards {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 270px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    background-color: white;
    padding: 35px 30px 35px 30px;
    transition: all 0.3s linear;

    &-heading, &-desc {
      text-align: center;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.3);
    }

    // even number will margin-bottom: 60px
    &:nth-child(even) {
      margin-top: 60px;
    }
  }

  &-content {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    &-heading {
      margin-bottom: 30px;
    }

    &-desc {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 70px;
      }
    }
  }

  &-button {
    padding: 18px 32px;
  }
}