section.about#about
    .container
        h3.heading.heading--big.about-heading A new way to connect with your team
        .about-info
            .about-items
                .about-item
                    .about-item-img
                        img(src="assets/icons/icon-twitter.png", alt="scroll")
                    .item-content
                        h5.heading.heading--small.about-item-heading Project Management
                        p.text.text--xsmall.about-item-desc Centralize tasks from different software, discuss resolutions, and create tasks.
                .about-item
                    .about-item-img
                        img(src="assets/icons/icon-linkedin.png", alt="scroll")
                    .item-content
                        h5.heading.heading--small.about-item-heading Centralized Workflows
                        p.text.text--xsmall.about-item-desc We design digital platforms to empower users and your brand's tribe.
                .about-item
                    .about-item-img
                        img(src="assets/icons/icon-facebook.png", alt="scroll")
                    .item-content
                        h5.heading.heading--small.about-item-heading Digital Marketing
                        p.text.text--xsmall.about-item-desc We design digital platforms to empower users and your brand's tribe.
            .about-content
                h4.heading.heading--medium.about-title Move faster by organizing your work
                p.text.text--small.about-desc The key to productivity in Pollock is organized spaces called channels— a different one for everything you’re working on. With all the people, messages and files related to a topic in one place, you can move a whole lot faster.
                p.text.text--small.about-desc Give yourself the flexibility to work when, where and how you work best. Take control of notifications, collaborate live or on your own time, and find answers in conversations from across your company.
                button.button.about-button Get started
