section.app#app
    .container.app-container
        .app-img
            img(srcSet='assets/images/app-img.png')
        .app-content
            h4.heading.heading--medium.app-heading Simplify teamwork for everyone
            p.text.text--small.app-desc Give everyone you work with — inside and outside your company — a more productive way to stay in sync.
            ul.app-items
                li.app-item
                    img.app-item-img(srcSet='assets/icons/icon-design.png')
                    .app-item-content
                        h5.heading.heading--small.app-item-title Focus your time, on your own terms
                        p.text.text--xsmall Give yourself the flexibility to work when, where and how you work best.
                li.app-item
                    img.app-item-img(srcSet='assets/icons/icon-design.png')
                    .app-item-content
                        h5.heading.heading--small.app-item-title Focus your time, on your own terms
                        p.text.text--xsmall Give yourself the flexibility to work when, where and how you work best.
                li.app-item
                    img.app-item-img(srcSet='assets/icons/icon-design.png')
                    .app-item-content
                        h5.heading.heading--small.app-item-title Focus your time, on your own terms
                        p.text.text--xsmall Give yourself the flexibility to work when, where and how you work best.

