.cta
    .container
        .cta-content
            h2.heading.heading--big.cta-heading Start your 14-day free trial today!
            p.text.cta-desc Try Shopify free for 14 days, no credit card required.
            button.button.cta-button Get started