section.faq#faq
    .container.faq-container
        .faq-content
            h2.heading.heading--big.faq-heading Frequently Asked Questions
            ul.faq-questions
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Do I need to enter my payment details to sign up?
                    p.faq-question-answer No. You can sign up and use Pollock for 14 days without entering your payment details. At the end of your trial, or when you decide to launch your store, you will need to pick a plan and enter your payment details.
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Do I need to enter my payment details to sign up?
                    p.faq-question-answer No. You can sign up and use Pollock for 14 days without entering your payment details. At the end of your trial, or when you decide to launch your store, you will need to pick a plan and enter your payment details.
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Can I use my own domain name?
                    p.faq-question-answer Yes. You can purchase a domain name within Pollock, or use an existing one that you own. We also provide a free myshopify.com domain name to all stores on sign up.
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Can I use my own domain name?
                    p.faq-question-answer Yes. You can purchase a domain name within Pollock, or use an existing one that you own. We also provide a free myshopify.com domain name to all stores on sign up.
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Do I need a web host?
                    p.faq-question-answer Pollock includes secure, unlimited ecommerce hosting on all plans except Pollock Lite. You can also use the Buy Button to add our application to any existing website.
                li.faq-question
                    h3.heading.heading--small.faq-question-heading Do I need a web host?
                    p.faq-question-answer Pollock includes secure, unlimited ecommerce hosting on all plans except Pollock Lite. You can also use the Buy Button to add our application to any existing website.
