section.hero#hero
    .container.hero-container
        .hero-content
            p.text.hero-subtitle Organize spaces for everyone and everything you need
            h1.heading.heading--big.hero-heading Great teamworks start with Pollock.
            p.text.hero-desc With all your people, tools and communication in one place, you can work faster and more flexibly than ever before.
            .hero-buttons
                button.button.button-start Start free trial
                button.button.button-learn Learn more
        .hero-image
            img(srcSet='assets/images/hero-img.png')