section.pricing#pricing
    .container
        .pricing-title
            h3.heading.heading--big.pricing-heading Set up your app, pick a plan later
            p.text.pricing-desc Try Shopify free for 14 days, no credit card required
        .pricing-content
            .pricing-tags
                span.text Monthly
                include toggle
                span Yearly
                .tag.sales-tag Save 20%
            .pricing-cards
                .pricing-card
                    h4.heading.heading--medium.pricing-card-heading Basic
                    .pricing-card-price
                        span $
                        span.pricing-card-price-amount 29
                        span /month
                    p.text.pricing-card-desc Best for new startups or businesses with occasional in-person sales
                    ul.pricing-card-items
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Unlimited editable boards
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Unlimited visitors
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Custom templates
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Account management
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc 24/7 Support Online
                    button.button.pricing-card-button Start free trial
                .pricing-card
                    h4.heading.heading--medium.pricing-card-heading Professional
                    .pricing-card-price
                        span $
                        span.pricing-card-price-amount 39
                        span /month
                    p.text.text--xsmall.pricing-card-desc Best for new startups or businesses with occasional in-person sales
                    ul.pricing-card-items
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Unlimited editable boards
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Unlimited visitors
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Custom templates
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc Account management
                        li.pricing-card-item
                            img.pricing-card-item-icon(srcSet='assets/icons/icon-check.png')
                            p.text.text--small.pricing-card-item-desc 24/7 Support Online
                    button.button.pricing-card-button Start free trial

