section.reviews#reviews
    .container
        .reviews-content
            .reviews-title
                h3.heading.heading--big.reviews-heading What our clients are saying about us
                p.text.reviews-desc Customer satisfaction is a primary goal for our company
            ul.reviews-cards
                li.reviews-card
                    img.reviews-card-img(srcSet='assets/images/avatar-1.png')
                    .reviews-card-account
                        h4.heading.heading--small.reviews-card-name John Doe
                        p.text.reviews-card-position CEO of Company
                    .reviews-card-rating
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                    .reviews-card-desc
                        p.text.reviews-card-text Overall experience is awesome!! I'm a visual thinker, and I couldn't function without a tool like this.
                li.reviews-card
                    .reviews-card-img
                        img(srcSet='assets/images/avatar-1.png')
                    .reviews-card-account
                        h4.heading.heading--small.reviews-card-name John Doe
                        p.text.reviews-card-position CEO of Company
                    .reviews-card-rating
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                    .reviews-card-desc
                        p.text.reviews-card-text Overall experience is awesome!! I'm a visual thinker, and I couldn't function without a tool like this.
                li.reviews-card
                    .reviews-card-img
                        img(srcSet='assets/images/avatar-1.png')
                    .reviews-card-account
                        h4.heading.heading--small.reviews-card-name John Doe
                        p.text.reviews-card-position CEO of Company
                    .reviews-card-rating
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                        img(srcSet='assets/icons/icon-star-yellow.png')
                    .reviews-card-desc
                        p.text.reviews-card-text Overall experience is awesome!! I'm a visual thinker, and I couldn't function without a tool like this.

