section.services#services
    .container
        .services-title
            h3.heading.heading--big.services-heading One platform for your team and your work
            p.text.services-desc Share ideas, make decisions and move work forward with a common purpose and place
        .services-contents
            ul.services-cards
                li.services-card
                    img.services-card-img(srcSet='assets/icons/icon-rocket.png')
                    h5.heading.heading--small.services-card-heading Startups
                    p.text.text--small.services-card-desc Automate away everyday tasks inside and outside of the app.
                li.services-card
                    img.services-card-img(srcSet='assets/icons/icon-rocket.png')
                    h5.heading.heading--small.services-card-heading Startups
                    p.text.text--small.services-card-desc Automate away everyday tasks inside and outside of the app.
                li.services-card
                    img.services-card-img(srcSet='assets/icons/icon-rocket.png')
                    h5.heading.heading--small.services-card-heading Startups
                    p.text.text--small.services-card-desc Automate away everyday tasks inside and outside of the app.
                li.services-card
                    img.services-card-img(srcSet='assets/icons/icon-rocket.png')
                    h5.heading.heading--small.services-card-heading Startups
                    p.text.text--small.services-card-desc Automate away everyday tasks inside and outside of the app.
            .services-content
                h4.heading.heading--medium.services-content-heading Build and develop your ideas with distributed teams
                p.text.services-content-desc With enterprise-ready security and  administration controls, deploy Pollock company - wide with ease.
                p.text.services-content-desc A dedicated customer success and account manager will partner with you every step of the way to ensure your team’s success and train you on best practices we’ve picked up from other enterprise customers.
                button.button.services-button Learn more
